/* Estilos Mobile-First */

/* Sección About Us */
.about-us {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 5em 0;
  border-radius: 2.5rem;
  overflow: hidden;
}

/* Sección derecha (imagen) */
.about-us .rigth {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  align-items: center;
}

/* Imagen dentro de la sección derecha */
.rigth img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

/* Sección izquierda (texto) */
.left {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 1em;
  font-size: 1em;
  box-sizing: border-box;
  overflow-x: hidden; /* Previene que el contenido sobresalga horizontalmente */
  background-color: black;
  opacity: 0.7;
}

.left h2 {
  text-decoration: underline #a18262;
  text-underline-offset: 0.5em;
  color: #fff;
  margin-bottom: 1.5em;
}
.left p {
  text-align: center;
}

/* Media Queries */

/* Tablets (pantallas medianas) */
@media (min-width: 640px) {
  .about-us {
    display: flex; /* Las secciones izquierda y derecha se alinean horizontalmente */
    flex-direction: row; /* Imagen a la derecha y texto a la izquierda */
    margin: 10% 5%; /* Ajusta los márgenes para pantallas más grandes */
    align-items: stretch; /* Asegura que ambas secciones tengan la misma altura */
  }

  .about-us .rigth {
    width: 50%; /* La imagen ocupa el 50% del espacio */
  }

  .rigth img {
    border-bottom-left-radius: 0px;
    height: 100%; /* Asegura que la imagen llene el contenedor */
    object-fit: cover; /* Mantiene la proporción de la imagen */
  }

  .left {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50%; /* El texto también ocupa el 50% del espacio */
    padding: 2em; /* Aumenta el padding en pantallas más grandes */
  }
}

/* Escritorio (pantallas grandes) */
@media (min-width: 1024px) {
  .about-us {
    margin: 10% 15%; /* Ajuste de márgenes para pantallas grandes */
  }

  .rigth img {
    height: 100%; /* Asegura que la imagen mantenga su proporción correcta */
  }

  .left {
    font-size: 1.2em; /* Aumenta ligeramente el tamaño del texto */
    padding: 3em; /* Aumenta el padding en pantallas grandes */
  }
}
