/* Estilos Mobile-First */

/* Contenedor del menú */
.content-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 3em 0;
}

.content-menu h3 {
  text-transform: uppercase;
  font-size: 2em;
  text-underline-offset: 0.5em;
  color: white;
  border-bottom: 5px solid #a18262;
}

/* Menú principal */
.menu-cervantes {
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: stretch;
  margin: 5em 0;
  border: 1px solid black;
  border-radius: 2.5rem;
  padding: 3em;
  background-color: black;
  opacity: 0.7;
  color: white;
}

/* Secciones del menú */
.tostas,
.sándwiches,
.bocadillos,
.tostadas,
.bollería,
.pizzetas,
.aperitivos,
.hamburguesas,
.platos-combinados,
.bebidas-calientes,
.bebidas-frias,
.empanadas,
.quesadillas,
.ensaladas {
  text-align: start;
  margin-bottom: 2.5em;
}

/* Promociones */
.promociones {
  text-align: center;
  margin-bottom: 2.5em;
}

/* Precios */
.tostas-precio,
.bocadillos-precio,
.hamburguesas-precio,
.platos-combinados-precio,
.menu-dia-precio,
.plato-dia,
.tostadas-precio,
.pizzetas-precio,
.ensalada-precio {
  display: flex;
  justify-content: space-between;
}

/* Estilos de lista */
li {
  list-style: decimal;
  margin: 2em 0; /* Define el mismo margen para todos los li */
}

/* Listas con elementos flex */
.sándwiches li div,
.tostadas li div,
.bollería li div,
.bebidas-calientes li div,
.bebidas-frias li div,
.aperitivos li div,
.empanadas li div,
.promociones li div,
.quesadillas li div {
  display: flex;
  justify-content: space-between;
}

/* Estilos del menú diario */
.menu-diario,
.info-menu-diario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-dia-precio,
.plato-dia,
.racion-para-llevar {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}

.menu-dia-precio div,
.plato-dia div {
  display: inline-flex;
  justify-content: space-between;
  margin: 1em 0;
}

/* Estilos de las raciones */
.racion {
  text-align: center;
}

.racion-para-llevar div {
  display: flex;
  justify-content: space-around;
}

/* Estilos para promociones */
.promo {
  margin-top: 1em;
  border: 1px solid black;
  border-radius: 2.5rem;
  padding: 1em;
  background-color: #a18262;
  color: #4b261a;
  font-size: 0.5em;
}

.promo h3 {
  text-decoration: none;
}

/* Estilos del título */
.title {
  border-bottom : solid #a18262 2px;
  text-transform: uppercase;
  width: 100%;
}
.bocadillos-calientes-info p {
  margin: 2em 0;
}
/* Media Queries */

/* Tablets (pantallas medianas) */
@media (min-width: 640px) {
  .content-menu {
    max-width: 100vw;
  }

  .content-menu h3 {
    font-size: 2.5em;
  }

  .menu-cervantes {
    width: 85%;
    padding: 1.5em;
  }

  .promo {
    font-size: 0.7em;
  }
}

/* Escritorio (pantallas grandes) */
@media (min-width: 1024px) {
  .content-menu {
    max-width: 100vw;
    margin-bottom: 10%;
  }

  .content-menu h3 {
    font-size: 3em;
  }

  .menu-cervantes {
    width: 70%;
    padding: 2em;
  }

  .promo {
    font-size: 0.9em;
  }

  /* Ajuste de flex para distribuciones horizontales */
  .menu-diario {
    flex-direction: row;
    justify-content: space-between;
  }
}
